/* Global CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: rgb(203, 192, 213);
  color: white;
  min-height: 100vh;
  padding: 30px;
}

/* Parent container */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* Card */
.user-container{
  background-color: rgb(68, 6, 96);
  padding: 15px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
}

#user-img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}